.our-services-section {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #fff;
}

.our-services-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #222;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 120px;
  max-width: 3000px;
  margin: 0 auto;
}

.service-card {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 12px;
  width: 280px;
  height: 320px;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.service-image {
  width: 80%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.service-card:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.service-content h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  margin: 0;
  z-index: 1;
}

.service-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  padding: 1.5rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}

.service-popup p {
  font-size: 1rem;
  color: #222;
  margin-bottom: 1rem;
}

.view-detail-btn {
  background-color: #001f3f;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-detail-btn:hover {
  background-color: #d61818;
}
